.navbar {
	display: flex;
	justify-content: space-around;
	background-color: rgb(153, 90, 21);
}
.content {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(255, 203, 145);
}
.news {
	width: 33%;
}
.content>h1{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.content>p{
	width: 100%;
	display: flex;
	justify-content: center;
}